name: Test and Build Web UI

on:
  push:
    branches: ["**"]
    paths:
      - "web/**"
      - ".github/workflows/web-ui.yml"
      - "proto/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
      - name: Generate types from proto
        run: npm run generate
      - name: Run lint
        run: npm run lint
      - name: Build
        run: npm run build
        env:
          VITE_BASE: /${{ github.event.repository.name }}/
      - name: Upload static files as artifact
        if: ${{ github.event_name == 'workflow_dispatch' }}
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: web/dist

  release:
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
